<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Payment Failed</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>
<body>
<div class="container">
	<div class="error">
		<div class="msg-error">
			<div class="letter"></div>
		</div>
		<div class="shadow"></div>
		<h1 class="title">FAILED</h1>
		<p class="message">Whoops! Sorry for the inconvenience, something went wrong.</p>
	</div>
</div>
  
</body>
</html>
