<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Payment Successfull</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="success">
		<div class="msg-success">
			<div class="letter"></div>
		</div>
		<div class="shadow"></div>
		<h1 class="title">Success</h1>
		<p class="message">Wohoo! Your Payment was done successfully.</p>
	</div>
</div>
<!-- partial -->
  
</body>
</html>
